# Extas settings
EXTAS__BASE_PATH = "/var/www/html"
EXTAS__DRIVER = "mongo"
EXTAS__DSN = "mongodb://workflow_data:27017"
EXTAS__DB = "extas"
EXTAS__CONTAINER_PATH_STORAGE_LOCK = "${EXTAS__BASE_PATH}/src/configs/container.php"
EXTAS__CONTAINER_PATH_STORAGE = "${EXTAS__BASE_PATH}/src/configs/container.json"
EXTAS__DRIVERS_STORAGE_PATH = "${EXTAS__BASE_PATH}/src/configs/drivers.json"